


<div class="row">
  <div class="col-sm-6">
    <h1>Sub_categories</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_sub_category_path, class: 'btn btn-primary' do %>
    Add New Sub category
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Image</th>
            <th>Category</th>
            
      </tr>
    </thead>

    <tbody>
      <% @sub_categories.each do |sub_category| %>
        <%= content_tag :tr, id: dom_id(sub_category), class: dom_class(sub_category) do %>
          
            <td><%= link_to sub_category.name, sub_category %></td>
          

                      <td><%= image_tag sub_category.image.url, class: 'small-image' %></td>
                      <td><%= sub_category.category_title %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
